.Deck-nocards,
.Deck-title {
    color: #edddd4;
    font-family: 'IBM Plex Serif', serif;
}

.Deck-title {
    letter-spacing: 5px;
}

.Deck-btn {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid #edddd4;
    background-color: #283D3B;
    color: #edddd4;
    outline: none;
    transition: .25s;
    font-family: 'IBM Plex Serif', serif;
}

.Deck-btn:hover {
    color: #283D3B;
    background-color: #edddd4;
    border-color: #283D3B;
}

.Deck-cards {
    margin-top: 4rem;
}